<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yoyo.mapper.OrderMapper">


    <insert id="insertDataToOrder" useGeneratedKeys="true" keyProperty="id">
        insert into `order` (total, amount, status, paytype, systime, user_id)
        VALUES (#{total},#{amount},#{status},#{paytype},#{systime},#{userId})
    </insert>
    <update id="updateOrder">
        update `order` set status = #{status},paytype = #{paytype},
                name = #{name},phone = #{phone},address = #{address}
                where id = #{id}
    </update>
</mapper>
